@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite var(--animation-direction);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
